*{
	padding: 0px;
	margin: 0px;
	color: #7e807f;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
ul li{
    list-style: none;
}
body{
	background-color: #f3f3f3;
}
