.header-top-right ul li{
    font-size: 14px;
}
.header-top-right ul li a{
    text-decoration: none;
    color:white;
}

.footer{
    
    color: white;
}
.footer-data{
    font-style: italic;
}
.breadcrumb ul li{
    color: #838d8e;
    font-size: 14px;

}
.breadcrumb ul li+li::before{
    padding: 20px;
    content: "/\00a0";

}
.breadcrumb ul li a{
    text-decoration: none;
}
.headding a{
    text-decoration: none;
}
.col2-left-container  ul li a{
    color: white;
}

.col3-left-container ul li a{
    color: white;
}

.first-col-2-right-img ul li {
    float: left;
    width: 25%;
}

.first-col3-left-container{
    padding: 5px 0;
}
.first-col2-left-container{
    padding: 5px 0px;
    
}
.first-col2-right-container{
    padding: 0px 2px;
   
}
