/* main-body */
.main{
    background: #F3F3F3;
    width: 100%;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

/* header */
.header{
     background: url("/images/scale.png") repeat-x #76C7C1 left bottom;
}

.header .header-top .header-left{
    float: left;
   padding-top: 22px;


}
.header .header-top .header-right{
    float: right;
    
}
.header .header-top .header-right ul {
    float: right;
    line-height: 81px;
}
.header .header-top .header-right ul li {
    float: left;
    list-style: none;
    

}
.header .header-top .header-right ul li a{
    text-decoration: none;
    color: white;
}
.header .header-top .header-right ul li:not(:last-of-type){
    margin-right: 10px;
}

