* {
  margin: 0;
  padding: 0;
}

.slider-container {
  height: 354px;
  width: 536px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider-image-wrapper {
  position: absolute;
  /* transition: all 1s ease; */
}

.slider-image-wrapper img {
  float: left;
}

.prev-slide {
  font-size: 60px;
  opacity: 0.5;
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url("images/left-slider.png");
  background-color:  black;
  transform: translateY(-50%);
  cursor: pointer;
}

.next-slide {
  font-size: 60px;
  opacity: 0.5;
  color: white;
  position: absolute;
  top: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  background-image: url("images/right-slider.png");
  background-color:  black;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev-slide:hover,
.next-slide:hover {
  opacity: 1;
}

.dots-wrapper {
  height: 15px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dots {
  height: 15px;
  width: 15px;
  margin: 2px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: #888;
}